# Auth.js
AUTH_SECRET="AUTH_SECRET"
DISCORD_CLIENT_ID="YOUR_DISCORD_CLIENT_ID"
DISCORD_CLIENT_SECRET="YOUR_DISCORD_CLIENT_SECRET"

# Database
CLOUDFLARE_ACCOUNT_ID="YOUR_CLOUDFLARE_ACCOUNT_ID"
CLOUDFLARE_DATABASE_ID="YOUR_CLOUDFLARE_DATABASE_ID"
CLOUDFLARE_D1_TOKEN="YOUR_CLOUDFLARE_D1_TOKEN"

# PayPal Integration
PAYPAL_CLIENT_ID="YOUR_PAYPAL_CLIENT_ID"
PAYPAL_CLIENT_SECRET="YOUR_PAYPAL_CLIENT_SECRET"